---
meta:
  openstack:
    auth_url: <auth_url>
    tenant: <tenant>
    username: <username>
    api_key: <api_key>
    default_key_name: <default_key_name>
    default_security_groups: [ <default_security_groups> ]
    availability_zone: <availability_zone>
    # see README for details about how to get net_id
    net_id: <net_id>
